@charset "UTF-8";

header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    width: 80px;
    height: 30px;
    margin-right: 10px;
}

.lamp{
    width: 200px;
}